下载 sqlite-tools-win32-\*.zip 和 sqlite-dll-win32-\*.zip 压缩文件。解压将得到 sqlite3.def、sqlite3.dll 和 sqlite3.exe 文件。添加到系统命令，即可打开。

SQL 注释以两个连续的 "-" 字符，，以 "/*" 开始，并扩展至下一个 "*/" 字符对或直到输入结束

### 1. SQLite 基础

所有的 SQLite 语句可以以任何关键字开始，如 SELECT、INSERT、UPDATE、DELETE、ALTER、DROP 等，所有的语句以分号（;）结束。

#### 1.1.1 创建数据库
    sqlite3 databasename.db
#### 1. 1.2显示数据库
    .databases
#### 1.1.3退出
    .quit
#### 1.1.4dump
    从数据库导入文本
    sqlite3 testDB.db .dump > testDB.sql
    从文本恢复到数据库
    sqlite3 testDB.db > testDB.sql

#### 1.2.1  创建表
    下面是一个实例，它创建了一个 COMPANY 表，ID 作为主键，NOT NULL 的约束表示在表中创建纪录时这些字段不能为 NULL：
     CREATE TABLE COMPANY(
       ID INT PRIMARY KEY     NOT NULL,
       NAME           TEXT    NOT NULL,
       AGE            INT     NOT NULL,
       ADDRESS        CHAR(50),
       SALARY         REAL
    );
    我自己的一个实例：
    create table price(id int primary key not null,name text not null);

#### 1.2.2 删除表
    .tables
    DROP TABLE database_name.table_name;

#### 1.3.1 数据库
    ATTACH DATABASE 'DatabaseName' As 'Alias-Name';
#### 1.3.2 分离数据库
    DETACH DATABASE 'NAME';

### 2. SQL命令

##### create

CREATE TABLE COMPANY(
   ID INT PRIMARY KEY     NOT NULL,
   NAME           TEXT    NOT NULL,
   AGE            INT     NOT NULL,
   ADDRESS        CHAR(50),
   SALARY         REAL
);

##### insert

INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
VALUES (1, 'Paul', 32, 'California', 20000.00 );

##### select 
    1. SELECT column1, column2, columnN FROM table_name;
    格式化输出：
     .header on
     .mode column
    2. 比较运算
    SELECT * FROM COMPANY WHERE SALARY > 50000;

##### 表达式
    SELECT column1, column2, columnN 
    FROM table_name 
    WHERE [CONDITION | EXPRESSION];

##### and  or
    SELECT column1, column2, columnN 
    FROM table_name
    WHERE [condition1] AND [condition2]...AND [conditionN];

##### update
    UPDATE table_name
    SET column1 = value1, column2 = value2...., columnN = valueN
    WHERE [condition];

##### delete 
    DELETE FROM table_name
    WHERE [condition];

##### LIKE
SQLite 的 LIKE 运算符是用来匹配通配符指定模式的文本值

##### glob
    SQLite 的 GLOB 运算符是用来匹配通配符指定模式的文本值
    星号（*）代表零个、一个或多个数字或字符。问号（?）代表一个单一的数字或字符。这些符号可以被组合使用

##### LIMIT

##### order
    SELECT column-list 
    FROM table_name 
    [WHERE condition] 
    [ORDER BY column1, column2, .. columnN] [ASC | DESC];

##### group by 
    SELECT column-list
    FROM table_name
    WHERE [ conditions ]
    GROUP BY column1, column2....columnN
    ORDER BY column1, column2....columnN

##### having 
    groupby 之后代替where

##### Distinct
    只获取一次记录

## 附录

#### SQLite ANALYZE 语句：
    ANALYZE;
    or
    ANALYZE database_name;
    or
    ANALYZE database_name.table_name;
####    SQLite AND/OR 子句：
    SELECT column1, column2....columnN
    FROM   table_name
    WHERE  CONDITION-1 {AND|OR} CONDITION-2;
####    SQLite ALTER TABLE 语句：
    ALTER TABLE table_name ADD COLUMN column_def...;
####    SQLite ALTER TABLE 语句（Rename）：
    ALTER TABLE table_name RENAME TO new_table_name;
####    SQLite ATTACH DATABASE 语句：
    ATTACH DATABASE 'DatabaseName' As 'Alias-Name';
####    SQLite BEGIN TRANSACTION 语句：
    BEGIN;
    or
    BEGIN EXCLUSIVE TRANSACTION;
####    SQLite BETWEEN 子句：
    SELECT column1, column2....columnN
    FROM   table_name
    WHERE  column_name BETWEEN val-1 AND val-2;
####    SQLite COMMIT 语句：
    COMMIT;
####    SQLite CREATE INDEX 语句：
    CREATE INDEX index_name
    ON table_name ( column_name COLLATE NOCASE );
 ####   SQLite CREATE UNIQUE INDEX 语句：
     CREATE UNIQUE INDEX index_name
     ON table_name ( column1, column2,...columnN);
####    SQLite CREATE TABLE 语句：
    CREATE TABLE table_name(
       column1 datatype,
       column2 datatype,
       column3 datatype,
       .....
       columnN datatype,
       PRIMARY KEY( one or more columns )
    );
####    SQLite CREATE TRIGGER 语句：
    CREATE TRIGGER database_name.trigger_name 
    BEFORE INSERT ON table_name FOR EACH ROW
    BEGIN 
       stmt1; 
       stmt2;
       ....
    END;
#### SQLite CREATE VIEW 语句：
    CREATE VIEW database_name.view_name  AS
    SELECT statement....;
####    SQLite CREATE VIRTUAL TABLE 语句：
    CREATE VIRTUAL TABLE database_name.table_name USING weblog( access.log );
    or
    CREATE VIRTUAL TABLE database_name.table_name USING fts3( );
####    SQLite COMMIT TRANSACTION 语句：
    COMMIT;
####    SQLite COUNT 子句：
    SELECT COUNT(column_name)
    FROM   table_name
    WHERE  CONDITION;
####    SQLite DELETE 语句：
    DELETE FROM table_name
    WHERE  {CONDITION};
####    SQLite DETACH DATABASE 语句：
    DETACH DATABASE 'Alias-Name';
####    SQLite DISTINCT 子句：
    SELECT DISTINCT column1, column2....columnN
    FROM   table_name;
####    SQLite DROP INDEX 语句：
    DROP INDEX database_name.index_name;
####    SQLite DROP TABLE 语句：
    DROP TABLE database_name.table_name;
####    SQLite DROP VIEW 语句：
    DROP VIEW view_name;
####    SQLite DROP TRIGGER 语句：
    DROP TRIGGER trigger_name
####    SQLite EXISTS 子句：
    SELECT column1, column2....columnN
    FROM   table_name
    WHERE  column_name EXISTS (SELECT * FROM   table_name );
####    SQLite EXPLAIN 语句：
    EXPLAIN INSERT statement...;
    or 
    EXPLAIN QUERY PLAN SELECT statement...;
####    SQLite GLOB 子句：
    SELECT column1, column2....columnN
    FROM   table_name
    WHERE  column_name GLOB { PATTERN };
####    SQLite GROUP BY 子句：
    SELECT SUM(column_name)
    FROM   table_name
    WHERE  CONDITION
    GROUP BY column_name;
####    SQLite HAVING 子句：
    SELECT SUM(column_name)
    FROM   table_name
    WHERE  CONDITION
    GROUP BY column_name
    HAVING (arithematic function condition);
####    SQLite INSERT INTO 语句：
    INSERT INTO table_name( column1, column2....columnN)
    VALUES ( value1, value2....valueN);
####    SQLite IN 子句：
    SELECT column1, column2....columnN
    FROM   table_name
    WHERE  column_name IN (val-1, val-2,...val-N);
####    SQLite Like 子句：
    SELECT column1, column2....columnN
    FROM   table_name
    WHERE  column_name LIKE { PATTERN };
####    SQLite NOT IN 子句：
    SELECT column1, column2....columnN
    FROM   table_name
    WHERE  column_name NOT IN (val-1, val-2,...val-N);
####    SQLite ORDER BY 子句：
    SELECT column1, column2....columnN
    FROM   table_name
    WHERE  CONDITION
    ORDER BY column_name {ASC|DESC};
####    SQLite PRAGMA 语句：
    PRAGMA pragma_name;

    For example:

    PRAGMA page_size;
    PRAGMA cache_size = 1024;
    PRAGMA table_info(table_name);
####    SQLite RELEASE SAVEPOINT 语句：
    RELEASE savepoint_name;
####    SQLite REINDEX 语句：
    REINDEX collation_name;
    REINDEX database_name.index_name;
    REINDEX database_name.table_name;
####    SQLite ROLLBACK 语句：
    ROLLBACK;
    or
    ROLLBACK TO SAVEPOINT savepoint_name;
####    SQLite SAVEPOINT 语句：
    SAVEPOINT savepoint_name;
####    SQLite SELECT 语句：
    SELECT column1, column2....columnN
    FROM   table_name;
####    SQLite UPDATE 语句：
    UPDATE table_name
    SET column1 = value1, column2 = value2....columnN=valueN
    [ WHERE  CONDITION ];
####    SQLite VACUUM 语句：
    SQLite VACUUM 语句：
    VACUUM;
####    SQLite WHERE 子句：
    SELECT column1, column2....columnN
    FROM   table_name
    WHERE  CONDITION;