## sqlite3 
### create delete execute insert table update  select

序号	API & 描述
1	sqlite3.connect(database [,timeout ,other optional arguments])
该 API 打开一个到 SQLite 数据库文件 database 的链接。您可以使用 ":memory:" 来在 RAM 中打开一个到 database 的数据库连接，而不是在磁盘上打开。如果数据库成功打开，则返回一个连接对象。

当一个数据库被多个连接访问，且其中一个修改了数据库，此时 SQLite 数据库被锁定，直到事务提交。timeout 参数表示连接等待锁定的持续时间，直到发生异常断开连接。timeout 参数默认是 5.0（5 秒）。

如果给定的数据库名称 filename 不存在，则该调用将创建一个数据库。如果您不想在当前目录中创建数据库，那么您可以指定带有路径的文件名，这样您就能在任意地方创建数据库。

2	connection.cursor([cursorClass])
该例程创建一个 cursor，将在 Python 数据库编程中用到。该方法接受一个单一的可选的参数 cursorClass。如果提供了该参数，则它必须是一个扩展自 sqlite3.Cursor 的自定义的 cursor 类。

3	cursor.execute(sql [, optional parameters])
该例程执行一个 SQL 语句。该 SQL 语句可以被参数化（即使用占位符代替 SQL 文本）。sqlite3 模块支持两种类型的占位符：问号和命名占位符（命名样式）。

例如：cursor.execute("insert into people values (?, ?)", (who, age))

4	connection.execute(sql [, optional parameters])
该例程是上面执行的由光标（cursor）对象提供的方法的快捷方式，它通过调用光标（cursor）方法创建了一个中间的光标对象，然后通过给定的参数调用光标的 execute 方法。

5	cursor.executemany(sql, seq_of_parameters)
该例程对 seq_of_parameters 中的所有参数或映射执行一个 SQL 命令。

6	connection.executemany(sql[, parameters])
该例程是一个由调用光标（cursor）方法创建的中间的光标对象的快捷方式，然后通过给定的参数调用光标的 executemany 方法。

7	cursor.executescript(sql_script)
该例程一旦接收到脚本，会执行多个 SQL 语句。它首先执行 COMMIT 语句，然后执行作为参数传入的 SQL 脚本。所有的 SQL 语句应该用分号（;）分隔。

8	connection.executescript(sql_script)
该例程是一个由调用光标（cursor）方法创建的中间的光标对象的快捷方式，然后通过给定的参数调用光标的 executescript 方法。

9	connection.total_changes()
该例程返回自数据库连接打开以来被修改、插入或删除的数据库总行数。

10	connection.commit()
该方法提交当前的事务。如果您未调用该方法，那么自您上一次调用 commit() 以来所做的任何动作对其他数据库连接来说是不可见的。

11	connection.rollback()
该方法回滚自上一次调用 commit() 以来对数据库所做的更改。

12	connection.close()
该方法关闭数据库连接。请注意，这不会自动调用 commit()。如果您之前未调用 commit() 方法，就直接关闭数据库连接，您所做的所有更改将全部丢失！

13	cursor.fetchone()
该方法获取查询结果集中的下一行，返回一个单一的序列，当没有更多可用的数据时，则返回 None。

14	cursor.fetchmany([size=cursor.arraysize])
该方法获取查询结果集中的下一行组，返回一个列表。当没有更多的可用的行时，则返回一个空的列表。该方法尝试获取由 size 参数指定的尽可能多的行。

15	cursor.fetchall()
该例程获取查询结果集中所有（剩余）的行，返回一个列表。当没有可用的行时，则返回一个空的列表

In [1]:
import sqlite3 as sql
import numpy as np
import pandas as pd

In [2]:
#链接数据库
conn=sql.connect('days.db')
#创建工作表
conn.execute('''CREATE TABLE day
(ID int primary key,
OPEN REAL NOT NULL,
HIGH REAL NOT NULL,
LOW REAL NOT NULL,
DATA text NOT NULL);''')
#确认过程
conn.commit()

#利用connetcion插入
conn.execute('INSERT INTO day(ID ,OPEN,HIGH,LOW,DATA)VALUES (1,10,15,8,2012-1-1)')

In [7]:
cur=conn.cursor()

In [8]:
cur.execute('SELECT ID,OPEN,HIGH ,LOW,DATA from day where ID=1')
cur.fetchall()

[(1, 10.0, 15.0, 8.0, '2010')]

In [10]:
cur.execute('INSERT INTO day(ID ,OPEN,HIGH,LOW,DATA)\
            VALUES (2,11,15,8,2012-1-2)')
cur.execute('INSERT INTO day(ID ,OPEN,HIGH,LOW,DATA)\
            VALUES (3,12,15,8,2012-1-3)')
cur.execute('INSERT INTO day(ID ,OPEN,HIGH,LOW,DATA)\
            VALUES (4,13,15,8,2012-1-4)')

In [12]:
#update
cur.execute('UPDATE day SET OPEN=20 WHERE ID=2')

In [18]:
cur.execute('''select * from day;''')
cur.fetchall()
#cur.close()

[(1, 10.0, 15.0, 8.0, '2010'),
 (2, 20.0, 15.0, 8.0, '2009'),
 (3, 12.0, 15.0, 8.0, '2008'),
 (4, 13.0, 15.0, 8.0, '2007')]

In [19]:
cur.close()

In [20]:
cur=conn.cursor()

In [21]:
data=np.random.randn(10,10)
df=pd.DataFrame(data,index=pd.date_range('2012-11-2',freq='D',periods=10),columns=list('ABCDEFGHIJ'))
df.index.name='data'
df.head()

,A,B,C,D,E,F,G,H,I,J
data,,,,,,,,,,
2012-11-02,-0.273516,-1.576509,-0.582034,1.529881,-1.053765,-0.306994,-2.124864,-1.430118,-1.259015,0.283271
2012-11-03,1.070229,-0.400107,-0.615074,-0.374237,0.837945,0.068248,-0.743657,0.993415,-1.618985,-0.303311
2012-11-04,0.738215,-0.618188,0.058423,-0.555982,-2.589531,0.518784,-0.046009,0.011535,1.891901,0.357973
2012-11-05,1.962694,1.798877,-0.544523,0.498141,-0.685497,-0.060012,-0.594845,1.113686,-0.538534,-1.214737
2012-11-06,0.296333,0.476627,-1.010206,1.093307,1.383014,0.128912,-0.280750,-0.234372,0.517836,-0.802690

In [22]:
df.to_sql('test1',conn)

In [24]:
conn.commit()

In [26]:
cur.rowcount

-1

In [29]:
cur.execute('SELECT * from test1')
cur.fetchall()

[('2012-11-02 00:00:00',
  -0.2735162212443435,
  -1.5765091026762612,
  -0.5820340625319914,
  1.5298808003037578,
  -1.053765443706335,
  -0.3069944087242001,
  -2.124864101908024,
  -1.4301177775083984,
  -1.2590148417039757,
  0.28327146397782177),
 ('2012-11-03 00:00:00',
  1.0702292029650302,
  -0.4001072168717096,
  -0.6150740756141178,
  -0.3742373660739016,
  0.8379448332095113,
  0.06824802344528172,
  -0.7436566635275933,
  0.9934145119742138,
  -1.6189846779670067,
  -0.30331059005241345),
 ('2012-11-04 00:00:00',
  0.7382146952219172,
  -0.6181876347178497,
  0.05842312509662792,
  -0.5559816711511472,
  -2.5895305027518187,
  0.5187842923503183,
  -0.046009035686696335,
  0.011534631891608995,
  1.8919014536807566,
  0.3579729126932327),
 ('2012-11-05 00:00:00',
  1.9626937455945552,
  1.798877250105441,
  -0.5445227185885675,
  0.49814071372428076,
  -0.6854969101279957,
  -0.060012352154146395,
  -0.5948453979260367,
  1.113686194330381,
  -0.5385341805021198,
  -1.2147374967103133),
 ('2012-11-06 00:00:00',
  0.29633304673502014,
  0.47662708749709604,
  -1.0102055810372275,
  1.0933070596009842,
  1.383013797959385,
  0.1289122376994353,
  -0.2807497922819098,
  -0.23437169427277701,
  0.5178361471138605,
  -0.8026900248156429),
 ('2012-11-07 00:00:00',
  1.2216089793079916,
  1.4284997799710144,
  -1.4517033125255556,
  2.5125513543506157,
  0.05042399705164765,
  1.2431882976302038,
  -0.7643512401435548,
  1.172900718789386,
  -1.0927541749420022,
  0.4575451533099716),
 ('2012-11-08 00:00:00',
  0.30290295118359456,
  0.9181669383846702,
  -1.47667849122638,
  1.7517381191149823,
  0.33335660115192134,
  -0.25377641490976216,
  0.924845467494778,
  -0.3263475515753616,
  -0.9517171380106405,
  1.4170458183735983),
 ('2012-11-09 00:00:00',
  0.8489261116340963,
  -0.3159621859831441,
  -0.27368943776588417,
  -0.279714423383902,
  -0.134785581793038,
  -0.10014409150227742,
  -0.42543270353232954,
  0.3528171155528826,
  0.8576132528797646,
  -0.044323971381654705),
 ('2012-11-10 00:00:00',
  0.1568669580118948,
  -0.1796186584254289,
  -0.3394315229391844,
  0.34671216238614144,
  0.7634965680850477,
  1.1605331554473164,
  0.22081635785603562,
  0.17717740581985422,
  -1.2786667694377059,
  0.17709058382804158),
 ('2012-11-11 00:00:00',
  0.8360890501627605,
  0.8947194430654972,
  -0.9340848274897348,
  0.7140747229980138,
  0.596980062082541,
  0.48416613934392244,
  -1.3576144812317994,
  1.3165102550543233,
  1.8388566735435197,
  -0.7446344666086202)]

In [30]:
cur.execute('SELECT data ,A,B from "test1"')

In [33]:
cur.fetchall()

[('day',), ('test1',)]

In [34]:
#
cur.execute("SELECT tbl_name FROM sqlite_master WHERE type = 'table';")

In [35]:
cur.fetchall()

[('day',), ('test1',)]

In [41]:
cur.execute("SELECT sql FROM sqlite_master WHERE type = 'table' AND tbl_name = 'test1'")
cur.fetchall()

[('CREATE TABLE "test1" (\n"data" TIMESTAMP,\n  "A" REAL,\n  "B" REAL,\n  "C" REAL,\n  "D" REAL,\n  "E" REAL,\n  "F" REAL,\n  "G" REAL,\n  "H" REAL,\n  "I" REAL,\n  "J" REAL\n)',)]